registry=https://pancisin.pkgs.visualstudio.com/_packaging/pancisin-pckg/npm/registry/
always-auth=true

; begin auth token
//pancisin.pkgs.visualstudio.com/_packaging/pancisin-pckg/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIyZWEyZDE2MC1lMzUxLTQyMjgtOGNjNS02ZDRkN2NjNTA2MjAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjhkZTc3MTQtYjYzMC00Nzc0LThlN2EtMWMwMTYwY2VjMWY2Iiwic2lkIjoiMzM3YjhlOGUtZGI3MC00OTI4LTg0OGEtZTQyMGZlZjFhYzg3IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286OWEyYWE0ODQtNGJjNC00ZDIzLThjYmEtZmM2ZDY0NjNmMmM5IiwibmJmIjoxNTM2NTgyMTI4LCJleHAiOjE1NDQzNTg3Mjh9.Sbq9njj9wgN_2p0-LMJB_A9AxCl1gSeBjJ19BeXFtRtpELxpuR85TpkgrAvPWkEjNaTILK-J89Y4d_3gb3zntiPpWSUcENsPaY9zIrs4SwNw1gLkLaPHPlpr0QnIHaEr3_OU1vsFzwR1fbwljvk0wAJ1BUQc9C_bFlDmlq4q6lzYO1UrjteBLhc7p44ebn_bR6598eaoVfseWxJSuSQoh9r9D21zIYUqiTLO_GLfP1K2sOX--wxiIZkB2kobAj7HA-rGTBjSjR7rvui2CpfjEjLaKvCPPsNxSP72qdjjoT6IMwUn8atW4-BFVpurVW4A1_OsKdN7DFZcBOV79VEvBA
//pancisin.pkgs.visualstudio.com/_packaging/pancisin-pckg/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIyZWEyZDE2MC1lMzUxLTQyMjgtOGNjNS02ZDRkN2NjNTA2MjAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjhkZTc3MTQtYjYzMC00Nzc0LThlN2EtMWMwMTYwY2VjMWY2Iiwic2lkIjoiMzM3YjhlOGUtZGI3MC00OTI4LTg0OGEtZTQyMGZlZjFhYzg3IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286OWEyYWE0ODQtNGJjNC00ZDIzLThjYmEtZmM2ZDY0NjNmMmM5IiwibmJmIjoxNTM2NTgyMTI4LCJleHAiOjE1NDQzNTg3Mjh9.Sbq9njj9wgN_2p0-LMJB_A9AxCl1gSeBjJ19BeXFtRtpELxpuR85TpkgrAvPWkEjNaTILK-J89Y4d_3gb3zntiPpWSUcENsPaY9zIrs4SwNw1gLkLaPHPlpr0QnIHaEr3_OU1vsFzwR1fbwljvk0wAJ1BUQc9C_bFlDmlq4q6lzYO1UrjteBLhc7p44ebn_bR6598eaoVfseWxJSuSQoh9r9D21zIYUqiTLO_GLfP1K2sOX--wxiIZkB2kobAj7HA-rGTBjSjR7rvui2CpfjEjLaKvCPPsNxSP72qdjjoT6IMwUn8atW4-BFVpurVW4A1_OsKdN7DFZcBOV79VEvBA
; end auth token