registry=https://pancisin.pkgs.visualstudio.com/_packaging/pancisin-pckg/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/17/2018.
; begin auth token
//pancisin.pkgs.visualstudio.com/_packaging/pancisin-pckg/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIyZWEyZDE2MC1lMzUxLTQyMjgtOGNjNS02ZDRkN2NjNTA2MjAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMjljODA1MTYtYzg5Zi00MzFmLWI4OGUtOGVjYzFkMDU2MzcxIiwic2lkIjoiYTc3YzhmNzgtMjk4YS00MjRiLTk0MzctYTM1OTQ2N2M4N2ExIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286OWEyYWE0ODQtNGJjNC00ZDIzLThjYmEtZmM2ZDY0NjNmMmM5IiwibmJmIjoxNTM3MjUzODQ3LCJleHAiOjE1NDUwMzA0NDd9.IiyUKwgQzgABWv7xT4KqJct-UYFZX-xgUV4O3EN3_Y6SIUJ1Ko3MxQY2wKZCSNwaIm8nJLfxaxGpYhdb8-gUXSOjOq-o2S01laILS5Ai6zvQ0UjPCkTszzk4JXqwnfGVnKn9jOTzZHTV3KzgNu8hxR0t8h5t4KIe1z7vei7OS2weq7WxjVvzic23ebFJfXo6QI-4WHVklcGjL2O1Fcdny2CA-rsiwP7LBC9BvM5nz4vbQmZWDB9HySLHjz9_0gafdM-ekhoZiZ3jfKCXKXYhsa3gjRICCrehuVXpnzOhPPoLTHhpvohU4T1SWsZCLuYaUj0MhNwVAuQxDg-ILB3cvA
//pancisin.pkgs.visualstudio.com/_packaging/pancisin-pckg/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIyZWEyZDE2MC1lMzUxLTQyMjgtOGNjNS02ZDRkN2NjNTA2MjAiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMjljODA1MTYtYzg5Zi00MzFmLWI4OGUtOGVjYzFkMDU2MzcxIiwic2lkIjoiYTc3YzhmNzgtMjk4YS00MjRiLTk0MzctYTM1OTQ2N2M4N2ExIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286OWEyYWE0ODQtNGJjNC00ZDIzLThjYmEtZmM2ZDY0NjNmMmM5IiwibmJmIjoxNTM3MjUzODQ3LCJleHAiOjE1NDUwMzA0NDd9.IiyUKwgQzgABWv7xT4KqJct-UYFZX-xgUV4O3EN3_Y6SIUJ1Ko3MxQY2wKZCSNwaIm8nJLfxaxGpYhdb8-gUXSOjOq-o2S01laILS5Ai6zvQ0UjPCkTszzk4JXqwnfGVnKn9jOTzZHTV3KzgNu8hxR0t8h5t4KIe1z7vei7OS2weq7WxjVvzic23ebFJfXo6QI-4WHVklcGjL2O1Fcdny2CA-rsiwP7LBC9BvM5nz4vbQmZWDB9HySLHjz9_0gafdM-ekhoZiZ3jfKCXKXYhsa3gjRICCrehuVXpnzOhPPoLTHhpvohU4T1SWsZCLuYaUj0MhNwVAuQxDg-ILB3cvA
; end auth token